# Python
__pycache__/
*.pyc
.venv/
venv/

# Dados gerados (grandes ou transitórios)
data/raw/contratacoes_json/
data/coleta.log
data/contratacoes_mec_nuvem.csv
data/contratacoes_mec_todas.csv

# LaTeX artefatos
relatorio/*.aux
relatorio/*.bbl
relatorio/*.blg
relatorio/*.log
relatorio/*.out
relatorio/*.fls
relatorio/*.fdb_latexmk
relatorio/*.synctex.gz

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
relatorio/*.pdf
